<table border="1" width="100%">

    <tr>
        <td width="10%">
            <h2>Move Hackathon</h2>
        </td>
        <td width="90%" align="right">
          <% if session[:user_id].nil? %>
              <%= link_to 'Login as Judge', {:controller => 'home', :action => 'login'} %>
          <% else %>
              Logged in as judge: <%= session[:user_id] %>
          <% end %>
        </td>
    </tr>

    <tr>
        <td width="10%"><%= render :partial => '/links', :object => @teams %></td>
    </tr>

</table>