<body style="background-color: #313845;">
<table id="hkt_login" style="background-color: #313845;">
  <tr>
    <td class="logo">
      <img src="/assets/logo.png"/>

    </td>
    <td class="login_details">
      <%= form_tag :action => 'login', method: :post %>

      <% if session[:authfail].eql?(true) %>
          <script>alert('Invalid username or password.')</script>
          <% session[:authfail] = false %>
      <% end %>

      <p>User Name</p>
      <p class="input"><%= text_field_tag('username', '') %></p>

      <p>Password</p>
      <p><%= password_field_tag('password', '') %></p>

      <%= submit_tag 'Login' %>
    </td>
  </tr>

</table>
</body>

