<h1>Move Hackathon</h1>

<%= form_tag :action => 'login', method: :post %>

    <p>User Name</p>
    <p><%= text_field_tag('username', '') %></p>

    <p>Password</p>
    <p><%= text_field_tag('password', '') %></p>

<%= submit_tag 'Login' %>

