<h1>Employee#show</h1>
<p>Find me in app/views/employee/show.html.erb</p>

<h1><%= @employee.name %></h1>
<p><%= @employee.address %></p>
<p><%= @employee.phone %></p>
<hr />

<%= link_to 'Back', {:action => 'list'} %>