    <table>

      <tr>
        <td><%= link_to 'Manage Teams', {:controller => 'team', :action => 'list'} %></td>
      </tr>

      <tr>
        <td><%= link_to 'Manage Judges', {:controller => 'judge', :action => 'list'} %></td>
      </tr>

      <tr>
        <td><%= link_to 'Manage Categories', {:controller => 'category', :action => 'list'} %></td>
      </tr>

      <tr>
        <td><%= link_to 'Manage Ratings', {:controller => 'rating', :action => 'list'} %></td>
      </tr>

    </table>

