<% if @teams.nil? %>
    <p>No teams</p>
<% else %>
    <table width="100%" style="float:left;">
      <% @teams.each do |c| %>
          <tr>
            <td class="selected" width="100%"><%= link_to c.name, {:id => c.id,
                                     :controller => 'team',
                                     :action => 'show'} %></td>
          </tr>
      <% end %>


    </table>
<% end %>
