<% if @teams.nil? %>
    <p>No teams</p>
<% else %>
    <table>
      <% @teams.each do |c| %>
          <tr>
            <td><%= link_to c.name, {:id => c.id,
                                     :controller => 'team',
                                     :action => 'show'} %></td>
          </tr>
      <% end %>
    </table>
<% end %>
